@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #232323;
  --foreground: #d1bda1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html, body {
  @apply h-fit min-h-screen w-full; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
